version: "3.9"

services:  
  messages_server_1:
    build: ./MessagesServer
    depends_on:
      - "database"  
      - "broker_rabbit"    
    ports:
      - "8081:81"
    environment:
      DB_CONNECTION_STRING: "Server=host.docker.internal;Port=3306;Database=messenger_database;Uid=root;Pwd=no_piko;"
      RABBIT_URI: "amqp://guest:guest@host.docker.internal:5672"
      QUEUE_NAME: "messages_queries"
      RETRIES_COUNT: "5"
      REDIS_CONNECTION_STRING: "host.docker.internal:6379"

  messages_server_2:
    build: ./MessagesServer
    depends_on:
      - "database"  
      - "broker_rabbit"    
    ports:
      - "8090:82"
    environment:
      DB_CONNECTION_STRING: "Server=host.docker.internal;Port=3306;Database=messenger_database;Uid=root;Pwd=no_piko;"
      RABBIT_URI: "amqp://guest:guest@host.docker.internal:5672"
      QUEUE_NAME: "messages_queries"
      RETRIES_COUNT: "5"
      REDIS_CONNECTION_STRING: "host.docker.internal:6379"

  messages_server_3:
    build: ./MessagesServer
    depends_on:
      - "database"  
      - "broker_rabbit"    
    ports:
      - "8800:83"
    environment:
      DB_CONNECTION_STRING: "Server=host.docker.internal;Port=3306;Database=messenger_database;Uid=root;Pwd=no_piko;"
      RABBIT_URI: "amqp://guest:guest@host.docker.internal:5672"
      QUEUE_NAME: "messages_queries"
      RETRIES_COUNT: "5"
      REDIS_CONNECTION_STRING: "host.docker.internal:6379"

  messages_server_4:
    build: ./MessagesServer
    depends_on:
      - "database"  
      - "broker_rabbit"    
    ports:
      - "8900:84"
    environment:
      DB_CONNECTION_STRING: "Server=host.docker.internal;Port=3306;Database=messenger_database;Uid=root;Pwd=no_piko;"
      RABBIT_URI: "amqp://guest:guest@host.docker.internal:5672"
      QUEUE_NAME: "messages_queries"
      RETRIES_COUNT: "5"
      REDIS_CONNECTION_STRING: "host.docker.internal:6379"

  messages_server_5:
    build: ./MessagesServer
    depends_on:
      - "database"  
      - "broker_rabbit"    
    ports:
      - "8080:85"
    environment:
      DB_CONNECTION_STRING: "Server=host.docker.internal;Port=3306;Database=messenger_database;Uid=root;Pwd=no_piko;"
      RABBIT_URI: "amqp://guest:guest@host.docker.internal:5672"
      QUEUE_NAME: "messages_queries"
      RETRIES_COUNT: "5"
      REDIS_CONNECTION_STRING: "host.docker.internal:6379"

  broker_server:
    build: ./BrokerServer
    depends_on:
      - "broker_rabbit"
    ports:
      - "8000:80"
    environment:
      RABBIT_URI: "amqp://guest:guest@host.docker.internal:5672"
      QUEUE_NAME: "messages_queries"

  database:
    image: mysql:8.0.29
    restart: always    
    ports:
      - "3306:3306"
    volumes:
      - ./SQLStuff/data:/var/lib/mysql
      - ./SQLStuff/entrypoint/:/docker-entrypoint-initdb.d
    environment:
      MYSQL_ROOT_USER: root
      MYSQL_ROOT_PASSWORD: no_piko
      MYSQL_DATABASE: messenger_database
      MYSQL_USER: boku
      MYSQL_PASSWORD: no_piko

  broker_rabbit:
    image: rabbitmq:3-management-alpine    
    ports:
        - 5672:5672
        - 15672:15672
    volumes:
        - ./RabbitMQ/data/:/var/lib/rabbitmq/
        - ./RabbitMQ/log/:/var/log/rabbitmq

  redis:
    image: "redis:alpine"    
    ports:
     - "6379:6379"
    volumes:
      - ./redis/redis-data:/var/lib/redis
      - ./redis/redis.conf:/usr/local/etc/redis/redis.conf

    environment:
     - REDIS_REPLICATION_MODE=master

volumes:
  data: